*{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}


body{
    background-color: hsl(212, 45%, 89%);

}

#tab{
    margin: auto;
    margin-top: 23vh;
    max-width: 330px;
    background: hsl(0, 0%, 100%);
    border-radius: 15px;
}

img{
    margin: auto;
    max-width: 300px;
    border-radius: 15px;
    margin-top: 15px;
    
}

#heading{
    font-weight: 900;
    font-style: bold;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;
}

#b_text{
    padding-left:25px; 
    padding-right: 25px;
    margin-top: 10px;
    padding-bottom: 15px;
    font-size: 17px;
}


